<div class="row">
  <div class="col-md-10 col-md-offset-1">
<%= form_for([@group.section.store, @group.section, @group]) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :group_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_field :desc, id: :group_desc, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.submit class: "btn btn-secondary col-md-12" %>
  </div>
<% end %>
</div>
</div>