<div class="row">
  <div class="col-md-10 col-md-offset-1">
<%= form_for([@manager.store, @manager]) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :fname %>
    <%= form.text_field :fname, id: :manager_fname,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :lname %>
    <%= form.text_field :lname, id: :manager_lname,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :manager_email,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :manager_contact,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :role %>
    <%= form.text_field :role, id: :manager_role,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, id: :manager_address,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, id: :manager_username,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, id: :manager_password,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :manager_password_confirmation,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :store_id %>
    <%= form.text_field :store_id, id: :manager_store_id,class: "form-control" %>
  </div>

   <div class="form-group">
    <%= form.submit class: "btn btn-secondary col-md-12" %>
  </div>
<% end %>
</div>
</div>
