<p id="notice"><%= notice %></p>
<div class="row">
<%= will_paginate @records, class: "ml-auto" %>
</div>

<h1 class="text-center">Records</h1>

<div class="row">
<%= link_to '<i class="fa fa-plus" style="font-size: 2em;"></i> New Record'.html_safe, new_store_record_path %>s
</div>

<div class="row">
<table class="table table-striped table-dark">
  <thead class="thead-light">
    <tr>
      <th>Store</th>
      <th>Section</th>
      <th>Group</th>
      <th>Quantity</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.store_id %></td>
        <td><%= record.section %></td>
        <td><%= record.group %></td>
        <td><%= record.quantity %></td>
        <td><%= record.item_id %></td>
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, [record.store, record], title: "View" %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_store_record_path(record.store,record), title: "Edit" %></td>
        <% if can? :create, Manager %>
        <td><%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, store_path(record.store_id), title: "Back" %></td>
        <% else %>
        <td><%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, store_path(current_user.store_id), title: "Back" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="row">
<%= link_to '<i class="fa fa-plus" style="font-size: 2em;"></i> New Record'.html_safe, new_store_record_path %> | <%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_path(current_user.store_id), title: "Back" %>
</div>

<div class="row">
<%= will_paginate @records,  class: "ml-auto" %>
</div>


