<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @record.store %>
</p>

<p>
  <strong>Section:</strong>
  <%= @record.section %>
</p>

<p>
  <strong>Group:</strong>
  <%= @record.group %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @record.quantity %>
</p>

<p>
  <strong>Item:</strong>
  <%= @record.item %>
</p>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_records_path, class: "center-block", title: "Back" %>
</div>
