
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
    <h1 class="text-center">Stock</h1>

<table class="table table-striped table-dark">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>QTY</th>
      <th>Open stock</th>
      <th>Close stock</th>
      <th>Cost</th>
      <th>Selling</th>
      <th>Profit</th>
      <th>Sold</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.brand_name %></td>
        <td><%= item.qualntity %></td>
        <td><%= item.open_stck %></td>
        <td><%= item.clasing_stock %></td>
        <td><%= number_to_currency_br(item.cost_price) %></td>
        <td><%= number_to_currency_br(item.sell_price) %></td>
        <td><%= number_to_currency_br(item.profit) %></td>
        <td><%= item.sold_stock %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_store_section_group_item_path(item.group.section.store, item.group.section, item.group, item), title: "Edit" %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, [item.group.section.store, item.group.section, item.group, item], method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" %></td>
        <td><%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, store_section_groups_path(item.group.section.store), title: "Back" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
<%= link_to '<i class="fa fa-plus" style="font-size: 2em;"></i> New Item'.html_safe, new_store_section_group_item_path %> | <%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_section_groups_path, title: "Back" %>
</div>
</div>  
</div>
